main.aux
main.bbl
main.bib
main.blg
main.lof
main.log
main.out
main.toc
tex/references/main.bib.bak
main.bcf
main.run.xml
src/database_code/data
images/folk_thm/single_game/
_minted-main/
.pytest_cache/
.vscode/
.coverage
tex/chapters/ch2/lit_search_papers/