source-code/.ipynb_checkpoints
source-code/Timing-Experiments/__pycache__/
main.aux
main.bbl
main.bib
main.blg
main.lof
main.log
main.out
main.toc
tex/references/main.bib.bak
main.bcf
main.run.xml
source-code/Database-code/__pycache__/