source-code/.ipynb_checkpoints
source-code/timing-experiments/__pycache__
main.aux
main.bbl
main.bib
main.blg
main.lof
main.log
main.out
main.toc
tex/references/main.bib.bak
main.bcf
main.run.xml
data
src/database-code/__pycache__
images
_minted-main/